/* Balises classiques */
html,body{
	height: 100%;
	width: 100%;
	font: 1em 'Calibri';
	flex-direction: column;
}

html,body,div,form{
	display: flex;
}

h1,h2,h3,h4,h5,h6{font-weight: bold;}
h1{font-size: 3em;}
h2{font-size: 2.8em;}
h3{font-size: 2.6em;}
h4{font-size: 2.2em;}
h5{font-size: 1.8em;}
h6{font-size: 1.4em;}

div{
	flex-direction: column;
}

form input{
	margin:0em 1em;
}



/* Classes de simplification */
.centerText{
	text-align: center;
}

.maxwidth{
	width: 100%;
}

.halfwidth{
	width: 50%;
}

.tierwidth{
	width: 75%;
}

.inline{
	flex-direction: row;
}

.curved{
	border-radius: 1em;
	padding:0.5em;
}

.bordered{
	border:2px solid grey;
}

.middle{
	margin: auto;
}

.box, .menu{
	background: #e6e6e6;
	border-color: grey;
}

.menu{
	width: 90%;
	max-width: 960px;
}